---

name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  check:
    strategy:
      matrix:
        runner: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.12", "3.14"]
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install build tool
        run: pip install --upgrade uv
      - name: Install dependencies
        run: uv sync
      - name: Lint
        run: uv run poe lint
      - name: Test
        run: uv run poe test
      - name: Build
        run: uv build
      - name: Check build contents
        run: uv run poe check-dist
